body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3639 {
  position:absolute;
  left:116px;
  top:130px;
  width:957px;
  height:464px;
}
#u3640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:37px;
}
#u3640 {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:37px;
  text-align:center;
}
#u3641 {
  position:absolute;
  left:2px;
  top:10px;
  width:688px;
  word-wrap:break-word;
}
#u3642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u3642 {
  position:absolute;
  left:692px;
  top:0px;
  width:139px;
  height:37px;
  text-align:center;
}
#u3643 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u3644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u3644 {
  position:absolute;
  left:831px;
  top:0px;
  width:121px;
  height:37px;
  text-align:center;
}
#u3645 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:78px;
}
#u3646 {
  position:absolute;
  left:0px;
  top:37px;
  width:692px;
  height:78px;
  text-align:left;
}
#u3647 {
  position:absolute;
  left:2px;
  top:15px;
  width:688px;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:78px;
}
#u3648 {
  position:absolute;
  left:692px;
  top:37px;
  width:139px;
  height:78px;
  font-size:14px;
  text-align:center;
}
#u3649 {
  position:absolute;
  left:2px;
  top:31px;
  width:135px;
  word-wrap:break-word;
}
#u3650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u3650 {
  position:absolute;
  left:831px;
  top:37px;
  width:121px;
  height:78px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u3651 {
  position:absolute;
  left:2px;
  top:31px;
  width:117px;
  word-wrap:break-word;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:86px;
}
#u3652 {
  position:absolute;
  left:0px;
  top:115px;
  width:692px;
  height:86px;
  text-align:left;
}
#u3653 {
  position:absolute;
  left:2px;
  top:19px;
  width:688px;
  word-wrap:break-word;
}
#u3654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:86px;
}
#u3654 {
  position:absolute;
  left:692px;
  top:115px;
  width:139px;
  height:86px;
  text-align:center;
}
#u3655 {
  position:absolute;
  left:2px;
  top:35px;
  width:135px;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:86px;
}
#u3656 {
  position:absolute;
  left:831px;
  top:115px;
  width:121px;
  height:86px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u3657 {
  position:absolute;
  left:2px;
  top:35px;
  width:117px;
  word-wrap:break-word;
}
#u3658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:86px;
}
#u3658 {
  position:absolute;
  left:0px;
  top:201px;
  width:692px;
  height:86px;
  text-align:left;
}
#u3659 {
  position:absolute;
  left:2px;
  top:11px;
  width:688px;
  word-wrap:break-word;
}
#u3660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:86px;
}
#u3660 {
  position:absolute;
  left:692px;
  top:201px;
  width:139px;
  height:86px;
  text-align:center;
}
#u3661 {
  position:absolute;
  left:2px;
  top:35px;
  width:135px;
  word-wrap:break-word;
}
#u3662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:86px;
}
#u3662 {
  position:absolute;
  left:831px;
  top:201px;
  width:121px;
  height:86px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u3663 {
  position:absolute;
  left:2px;
  top:35px;
  width:117px;
  word-wrap:break-word;
}
#u3664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:86px;
}
#u3664 {
  position:absolute;
  left:0px;
  top:287px;
  width:692px;
  height:86px;
  text-align:left;
}
#u3665 {
  position:absolute;
  left:2px;
  top:19px;
  width:688px;
  word-wrap:break-word;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:86px;
}
#u3666 {
  position:absolute;
  left:692px;
  top:287px;
  width:139px;
  height:86px;
  text-align:center;
}
#u3667 {
  position:absolute;
  left:2px;
  top:35px;
  width:135px;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:86px;
}
#u3668 {
  position:absolute;
  left:831px;
  top:287px;
  width:121px;
  height:86px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u3669 {
  position:absolute;
  left:2px;
  top:35px;
  width:117px;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:86px;
}
#u3670 {
  position:absolute;
  left:0px;
  top:373px;
  width:692px;
  height:86px;
  text-align:left;
}
#u3671 {
  position:absolute;
  left:2px;
  top:19px;
  width:688px;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:86px;
}
#u3672 {
  position:absolute;
  left:692px;
  top:373px;
  width:139px;
  height:86px;
  text-align:center;
}
#u3673 {
  position:absolute;
  left:2px;
  top:35px;
  width:135px;
  word-wrap:break-word;
}
#u3674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:86px;
}
#u3674 {
  position:absolute;
  left:831px;
  top:373px;
  width:121px;
  height:86px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u3675 {
  position:absolute;
  left:2px;
  top:35px;
  width:117px;
  word-wrap:break-word;
}
#u3676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3677 {
  position:absolute;
  left:32px;
  top:791px;
  width:449px;
  height:272px;
  color:#000000;
}
#u3678 {
  position:absolute;
  left:2px;
  top:128px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u3679 {
  position:absolute;
  left:32px;
  top:791px;
  width:449px;
  height:35px;
  color:#F2F2F2;
}
#u3680 {
  position:absolute;
  left:2px;
  top:10px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3681 {
  position:absolute;
  left:50px;
  top:801px;
  width:57px;
  height:16px;
}
#u3682 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  position:absolute;
  left:463px;
  top:801px;
  width:9px;
  height:16px;
}
#u3684 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3685 {
  position:absolute;
  left:358px;
  top:991px;
  width:71px;
  height:27px;
  color:#FFFFFF;
}
#u3686 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3687 {
  position:absolute;
  left:238px;
  top:991px;
  width:73px;
  height:27px;
  color:#000000;
}
#u3688 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u3689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
}
#u3689 {
  position:absolute;
  left:50px;
  top:842px;
  width:390px;
  height:64px;
}
#u3690 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3691 {
  position:absolute;
  left:50px;
  top:917px;
  width:79px;
  height:24px;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3693 {
  position:absolute;
  left:127px;
  top:919px;
  width:272px;
  height:23px;
}
#u3693_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:38px;
  background:inherit;
  background-color:rgba(19, 128, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(19, 128, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3696 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:38px;
}
#u3697 {
  position:absolute;
  left:2px;
  top:11px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3698 {
  position:absolute;
  left:100px;
  top:9px;
  width:246px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3699 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u3700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u3700 {
  position:absolute;
  left:45px;
  top:6px;
  width:45px;
  height:23px;
}
#u3701 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3702 {
  position:absolute;
  left:1111px;
  top:11px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3703 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3704 {
  position:absolute;
  left:1033px;
  top:11px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3706 {
  position:absolute;
  left:847px;
  top:11px;
  width:133px;
  height:16px;
  color:#FFFFFF;
}
#u3707 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u3708 {
  position:absolute;
  left:0px;
  top:87px;
  width:1200px;
  height:1px;
}
#u3709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3710 {
  position:absolute;
  left:59px;
  top:53px;
  width:74px;
  height:24px;
  font-size:16px;
}
#u3711 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1380E2;
}
#u3712 {
  position:absolute;
  left:149px;
  top:53px;
  width:74px;
  height:24px;
  font-size:16px;
  color:#1380E2;
}
#u3713 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3714 {
  position:absolute;
  left:244px;
  top:53px;
  width:74px;
  height:24px;
  font-size:16px;
}
#u3715 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3716 {
  position:absolute;
  left:344px;
  top:53px;
  width:74px;
  height:24px;
  font-size:16px;
}
#u3717 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3718 {
  position:absolute;
  left:450px;
  top:53px;
  width:108px;
  height:24px;
  font-size:16px;
}
#u3719 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3720 {
  position:absolute;
  left:543px;
  top:53px;
  width:74px;
  height:24px;
  font-size:16px;
}
#u3721 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u3722 {
  position:absolute;
  left:811px;
  top:3px;
  width:32px;
  height:30px;
}
#u3723 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3724 {
  position:absolute;
  left:1099px;
  top:10px;
  width:4px;
  height:16px;
  color:#FFFFFF;
}
#u3725 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u3726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726 {
  position:absolute;
  left:124px;
  top:101px;
  width:137px;
  height:16px;
}
#u3727 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  position:absolute;
  left:21px;
  top:130px;
  width:80px;
  height:34px;
}
#u3729 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u3730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3730 {
  position:absolute;
  left:21px;
  top:163px;
  width:80px;
  height:34px;
}
#u3731 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u3732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3732 {
  position:absolute;
  left:21px;
  top:196px;
  width:80px;
  height:34px;
}
#u3733 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u3734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3734 {
  position:absolute;
  left:21px;
  top:229px;
  width:80px;
  height:34px;
}
#u3735 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u3737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:69px;
  background:inherit;
  background-color:rgba(0, 20, 48, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  color:#FFFFFF;
}
#u3738 {
  position:absolute;
  left:0px;
  top:680px;
  width:1200px;
  height:69px;
  color:#FFFFFF;
}
#u3739 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:32px;
}
#u3740 {
  position:absolute;
  left:291px;
  top:701px;
  width:647px;
  height:32px;
  color:#FFFFFF;
  text-align:center;
}
#u3741 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u3742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3742 {
  position:absolute;
  left:21px;
  top:262px;
  width:80px;
  height:34px;
}
#u3743 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
